.headerwrapper {
  width: 100%;
  background-color: rgb(90, 150, 35);
  height: 10vh;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  width: 95%;
  /* background-color: rgb(90, 150, 35); */
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bodywrapper {
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.body {
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.inputbox {
  width: 70%;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid black;
}

* {
  margin: 0;
  padding: 0;
}